<form class="change_status" action="/horses/<%=@horse.id%>/change_status" method="post">
  <select class="status" name="current_activity">
      <option value="In training">In training</option>
  </select>
  <label for="name"></label>
  <input type="hidden" name="name" value="<%=@horse.name%>">
  <label for="breed"></label>
  <input type="hidden" name="breed" value="<%=@horse.breed%>">
  <label for="hair_coat"></label>
  <input type="hidden" name="hair_coat" value="<%=@horse.hair_coat%>">
  <input type="hidden" name="hair_coat" value="<%=@horse.hair_coat%>">
  <textarea class="hide" name="health_details" rows="4" cols="80" value="<%=@horse.health_details%>"></textarea>
  <input type="hidden" name="approved" value="TRUE">
  <input type="hidden" name="owner_id" value="<%=@horse.owner_id%>">
  <input type="submit" name="status" value="Bla">


</form>
