<form class="change_status" action="/horses/<%=@horse.id%>/change_status" method="post">
  <select class="status" name="current_activity">
      <option value="In training">In training</option>
  </select>
  <label for="name"></label>
  <input type="hidden" name="name" value="<%=@horse.name%>">
  <label for="breed"></label>
  <input type="hidden" name="breed" value="<%=@horse.breed%>">
  <label for="hair_coat"></label>
  <input type="hidden" name="hair_coat" value="<%=@horse.hair_coat%>">
  <label for="health_details">If your horse has any health-issues, specify it here:</label>
  <textarea name="health_details" rows="4" cols="80" value="<%=@horse.health_details%>"></textarea>
<input type="submit" name="status" value="Bla">


</form>
