<a href="/horses/new"><button class="add-button button">Add horse</button></a>


<section class="horse-list list">
    <%for horse in @horses_pending%>
      <section class="horse item-section">
          <p>Name: <%=horse.name%></p>
          <p>Breed: <%=horse.breed%></p>
          <p>Hair coat <%=horse.hair_coat%></p>
          <section class="action-buttons">
            <form class="approve" action="/horses/<%=horse.id%>/approve" method="post">
              <input type="submit" name="approved" value="Approve">
            </form>
            <form class="delete-button" action="/horses/<%=horse.id%>/delete" method="post">
              <input type="submit" name="delete" value="DELETE" class="button">
            </form>
          </section>

    <%end%>
  </section>
  <section>
    <%for horse in @approved_horses%>
      <section class="horse item-section">
        <p>Name: <%=horse.name%></p>
        <p>Breed: <%=horse.breed%></p>
        <p>Hair coat <%=horse.hair_coat%></p>
        <a href="/horses/<%=horse.id%>"><button>Show details</button></a>


    <%end%>
  </section>

  <a href="/admin"><button>Go back</button></a>
</section>
