<div class="content-container">
  <div class="form-container">
    <form class = "registration" action = "/trainings" method = "post">
        <div class="input-field">
          <select class="selection" name="type" placeholder="Type of training">
            <%for type in @types%>
              <option value="<%=type%>" <%= 'selected' if @training.type == type %>><%=type%></option>
            <%end%>
          </select>
        </div>
        <div class="input-field">
          <select class="selection" name="day_of_week" placeholder="Day of week">
            <%for week_day in @week_days%>
              <option value="<%=week_day%>" <%= 'selected' if @training.day_of_week == week_day %>><%=week_day%></option>
            <%end%>
          </select>
        </div>
        <div class="input-field">
          <select class="selection" name="trainer_id" placeholder="Trainer">
            <%for trainer in @trainers%>
              <option value="<%=trainer.id%>" <%= 'selected' if @training.trainer.id == trainer.id %>><%=trainer.full_name%></option>
            <%end%>
          </select>
        </div>
        <div  class="input-field">
          <input type="number" name="duration" placeholder="Duration" value="<%=@training.duration%>">
        </div>
        <input class="log-in-button button" type="submit" value="Edit">

</div>
