<div class="management-page">
  <aside class="management-aside">
    <ul>
      <li><a href="/horses">Manage horses</a></li>
      <li><a href="/trainings">Manage trainings</a></li>
      <li><a href="/trainers">Manage trainers</a></li>
      <li><a href="/owners">Manage owners</a></li>
    </ul>
  </aside>
  <div class="management-image">
    <div class="management-image-overlay">
    </div>
  </div>
  <main class="management-area">
    <div class="training-horses-owners-table ">
      <div class="form-container">

        <table>
          <th>Type</th>
          <th>Date</th>
          <th>Time</th>
          <th>Trainer</th>
          <th>Horse</th>
          <th>Day of week</th>

          <%for training in @sorted_trainings%>
          <tr>
            <td><%=training.type.capitalize%></td>
            <td><%=training.scheduled_date%></td>
            <td><%=training.format_time(training.scheduled_time)%></td>
            <td><%=training.trainer.full_name%></td>
            <td><%=training.horse.name%></td>
            <td><%=training.day_of_week%></td>
            <td>
              <a href="/trainings/<%=training.id%>/edit"><button class="button-small more-button">Edit</button></a>
            </td>
          </tr>


          <%end%>
        </table>
      </div>
    </div>
  </main>
</div>
