<div class="training-table">
<div class="form-container">

  <table>
    <th>Type</th>
    <th>Date</th>
    <th>Time</th>
    <th>Trainer</th>
    <th>Horse</th>
    <th>Day of week</th>

  <%for training in @sorted_trainings%>
<tr>
  <td><%=training.type.capitalize%></td>
  <td><%=training.scheduled_date%></td>
  <td><%=training.scheduled_time%></td>
  <td><%=training.trainer.full_name%></td>
  <td><%=training.horse.name%></td>
  <td><%=training.day_of_week%></td>
  <td>
    <a href="/trainings/<%=training.id%>/edit"><button class="button-small edit-button">Edit</button></a>
  </td>
</tr>


  <%end%>
  </table>
</div>
</div>
