
  <div class="form-container">

    <div class="horses-table">


        <table>
          <th>Name</th>
          <th>Breed</th>
          <th>Hair coat</th>
          <th>Current_activity</th>
          <th></th>
          <%for horse in @horses_by_owner%>
          <tr>
            <td><%=horse.name%></td>
            <td><%=horse.breed%></td>
            <td><%=horse.hair_coat%></td>
            <td><%=horse.current_activity%></td>
            <td>
              <div class="action-buttons"><a href="/horses/<%=horse.id%>/edit"><button class="edit-button button-small">Edit</button></a></td>
              </div>
          </tr>
          <%end%>
        </table>


    </div>

  </div>
